@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">


    <title>Admin Dashboard</title>
    <style>
        .form-control-primary {
            margin: 10px;
            opacity: 0.2;
            border-radius: 2px;
        }

        .sidebar {
            position: fixed;
            left: 0;
            bottom: 0;
            top: 0;
            z-index: 100;
            padding: 70px 0 0 10px;
            border-right: 1px solid #d3d3d3;
        }

        .left-sidebar {
            position: sticky;
            top: 0;
            height: calc(100vh - 70px)
        }

        .sidebar-nav li .nav-link {
            color: #333;
            font-weight: 500;
        }

        main {
            padding-top: 90px;
        }

            main .card {
                margin-bottom: 20px;
            }

        .navbar-brand {
            margin: 10px;
        }

        body {
            padding: 2em 1rem;
            text-align: center;
        }

        [type="radio"] {
            display: none;
        }

        label {
            padding: 0.25rem 0.75rem;
            border-radius: 0.25rem;
            cursor: pointer;
            transition: 0.25s;
        }

        [type="radio"]:checked + label {
            background: gold;
        }

        [type="radio"]:nth-of-type(2):checked ~ .gallery .card:not(.fashion),
        [type="radio"]:nth-of-type(3):checked ~ .gallery .card:not(.electronic),
        [type="radio"]:nth-of-type(4):checked ~ .gallery .card:not(.mobile),
        [type="radio"]:nth-of-type(5):checked ~ .gallery .card:not(.beauty) {
            display: none;
        }

        .gallery {
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(auto-fit, 300px);
            grid-auto-rows: 1fr;
            grid-gap: 1rem;
            padding: 0.5rem;
            margin-top: 1rem;
        }

        .card {
            margin: 0;
            background: darkslateblue;
            border-radius: 0.25rem;
            overflow: hidden;
            box-shadow: 0 0 10px silver;
            transition: box-shadow 0.35s;
        }

            .card:hover {
                box-shadow: 0 0 25px #0009;
            }

        .card__image {
            width: 100%;
            object-fit: cover;
        }

        .card__caption {
            font-weight: bold;
            font-variant: small-caps;
            padding: 0.5rem;
            text-align: center;
            color: gold;
        }

        
    </style>
</head>

<body>
    <nav class="navbar navbar-dark fixed-top bg-info flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Admin Dashboard</a>
        <input type="text" class="form-control form-control-primary w-50" id="search" oninput="filterImages()" placeholder="Search...">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" asp-action="Logout" asp-controller="Auth">Logout</a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-2 bg-light d-none d-md-block sidebar">
                <div class="left-sidebar">
                    <ul class="nav flex-column sidebar-nav">
                        <li class="nav-item">
                            @* <a class="nav-link active" href="#">
                            <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                            d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"
                            clip-rule="evenodd" />
                            </svg>
                            Categories
                            </a> *@
                            <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20"
                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"
                                      clip-rule="evenodd" />
                            </svg>
                            <label for="category" class="form-label" onclick="toggleDropdown()"><b>Category:</b></label>
                            <select id="category" class="form-select" onchange="filterImages()" style="padding: 4px; width:120px;text-align:center; border-radius: 5px; display: none;margin-left:35%;">
                                <option value="all">All</option>
                                <option value="fashion">Fashion</option>
                                <option value="electronic">Electronic</option>
                                <option value="mobile">Mobile</option>
                                <option value="beauty">Beauty</option>
                            </select>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"
                                          clip-rule="evenodd" />
                                </svg>
                                Add Product
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"
                                          clip-rule="evenodd" />
                                </svg>
                                Users
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"
                                          clip-rule="evenodd" />
                                </svg>
                                Invoices
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"
                                          clip-rule="evenodd" />
                                </svg>
                                Reports
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">


                @* <input type="radio" name="filter" id="all" checked><label for="all">All</label>
                <input type="radio" name="filter" id="fashion"><label for="fashion">Fashion</label>
                <input type="radio" name="filter" id="electronic"><label for="electronic">Electronic</label>
                <input type="radio" name="filter" id="mobile"><label for="mobile">Mobile</label>
                <input type="radio" name="filter" id="beauty"><label for="beauty">Beauty</label> *@
                <div id="selectedCategoryName" style=" padding: 10px; border-radius: 5px; margin-bottom: 10px; text-align: center;font-size:20px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">All</div>
                <hr />

                <div class="gallery">
                    <figure class="card fashion">
                        <img class="card__image" loading="lazy" src="../Content/img/jacket.jpg" alt="">
                        <figcaption class="card__caption">Jacket</figcaption>
                    </figure>
                    <figure class="card fashion">
                        <img class="card__image" loading="lazy" src="../Content/img/jacket.jpg" alt="">
                        <figcaption class="card__caption">Jacket</figcaption>
                    </figure>
                    
                    <figure class="card mobile">
                        <img class="card__image" loading="lazy" src="../Content/img/moto.jpg" alt="">
                        <figcaption class="card__caption">Motorola</figcaption>
                    </figure>
                    <figure class="card electronic">
                        <img class="card__image" loading="lazy" src="../Content/img/mac.jpg" alt="">
                        <figcaption class="card__caption">Laptop</figcaption>
                    </figure>
                    <figure class="card mobile">
                        <img class="card__image" loading="lazy" src="../Content/img/samsung.jpg"alt="img">
                        <figcaption class="card__caption">Samsung</figcaption>
                    </figure>
                    <figure class="card mobile">
                        <img class="card__image" loading="lazy" src="../Content/img/galaxyS22.jpg" alt="">
                        <figcaption class="card__caption">Galaxy S22</figcaption>
                    </figure>
                    <figure class="card electronic">
                        <img class="card__image" loading="lazy" src="../Content/img/mac.jpg" alt="">
                        <figcaption class="card__caption">Macbook</figcaption>
                    </figure>
                    <figure class="card fashion">
                        <img class="card__image" loading="lazy" src="../Content/img/jacket.jpg" alt="">
                        <figcaption class="card__caption">Jacket</figcaption>
                    </figure>
                    <figure class="card beauty">
                        <img class="card__image" loading="lazy" src="../Content/img/lipstic.jpg" alt="">
                        <figcaption class="card__caption">Lipstic</figcaption>
                    </figure>
                    <figure class="card mobile">
                        <img class="card__image" loading="lazy" src="../Content/img/iphone.png" alt="">
                        <figcaption class="card__caption">Iphone</figcaption>
                    </figure>
                    <figure class="card fashion">
                        <img class="card__image" loading="lazy" src="../Content/img/jacket.jpg" alt="">
                        <figcaption class="card__caption">Jacket</figcaption>
                    </figure>
                    <figure class="card beauty">
                        <img class="card__image" loading="lazy" src="../Content/img/lipstic.jpg" alt="">
                        <figcaption class="card__caption">Lipstic</figcaption>
                    </figure>
                    <figure class="card beauty">
                        <img class="card__image" loading="lazy" src="../Content/img/lipstic.jpg" alt="">
                        <figcaption class="card__caption">Lipstic</figcaption>
                    </figure>
                </div>


            </main>
        </div>
    </div>
    <script>
        function toggleDropdown() {
            var dropdown = document.getElementById("category");
            if (dropdown.style.display === "none") {
                dropdown.style.display = "block";
            } else {
                dropdown.style.display = "none";
            }
        }

        function filterImages() {
            var selectedCategory = document.getElementById("category").value;
            var cards = document.querySelectorAll(".card");

            cards.forEach(function (card) {
                if (selectedCategory === "all" || card.classList.contains(selectedCategory)) {
                    card.style.display = "block";
                } else {
                    card.style.display = "none";
                }
            });

            // Display the selected category name above the images
            var categoryName = document.getElementById("category").options[document.getElementById("category").selectedIndex].text;
            document.getElementById("selectedCategoryName").innerText = categoryName;
        }
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script></script>
</body>

</html>